<!DOCTYPE html>
<html ng-app="moz">
<head>
	<meta charset="utf-8">
	<title>Manifest Generator for firefox OS Apps</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<!-- start container -->
<div class="container" ng-controller="AppController as fxapp">
  <div class="row rfirst">
    <div class="col-md-12 text-center">
      <h1>Manifest Generator</h1>
    </div>
  </div>

	<div class="row">
		<div class="col-md-6">
      <accordion close-others="oneAtATime">
        <!-- start: app main details -->
        <accordion-group is-open="status.AppMain" class="panel-primary">
          <accordion-heading>
            App main details 
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.AppMain, 'glyphicon-chevron-right': !status.AppMain}"></i>
          </accordion-heading>
          <div class="form-group">
            <label for="appname">App Name</label>
            <input type="text" class="form-control" id="appname" placeholder="My Awesome App" ng-model="fxapp.appd.appname">
          </div>
          <div class="form-group">
            <label for="appdescription">App Description</label>
            <textarea  class="form-control" id="appdesc" placeholder="My App Details" ng-model="fxapp.appd.appDescription"></textarea>
          </div>
          <div class="form-group">
            <label for="launchpath">Launch Path (mostly unchanged)</label>
            <input type="text" class="form-control" id="launchpath" placeholder="Launch path, mostly /index.html" ng-model="fxapp.appd.launchPath">
          </div>
        </accordion-group><!-- end: app main details -->
        
        <!-- start: icons -->
        <accordion-group is-open="status.AppIcon" class="panel-primary">
          <accordion-heading>
            Icons, at leas a 128x128 icon is recommended 
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.AppIcon, 'glyphicon-chevron-right': !status.AppIcon}"></i>
          </accordion-heading>
          <div class="ln-icon-checkbox-wrap">
            <label><input type="checkbox" ng-model="ico128" ng-change="change('128')">128x128 Icon</label> 
            <label><input type="checkbox" ng-model="ico60" ng-change="change('60')">60x60 Icon</label> 
            <label><input type="checkbox" ng-model="ico32" ng-change="change('32')">32x32 Icon</label> 
            <label><input type="checkbox" ng-model="ico90" ng-change="change('90')">90x90 Icon</label> 
            <label><input type="checkbox" ng-model="ico120" ng-change="change('120')">120x120 Icon</label> 
            <label><input type="checkbox" ng-model="ico256" ng-change="change('256')">236x256 Icon</label>            
          </div><!-- end: icon checkbox wrap -->
          <div class="ln-icon-path-wrap">
            <div class="form-group" ng-show="ico128">
              <label for="128">Icon 128x128</label>
              <input type="text" class="form-control" placeholder="/images/128.png" ng-model="fxapp.appd.icons.128">
            </div>
            
            <div class="form-group" ng-show="ico60">
              <label for="60">Icon 60x60</label>
              <input type="text" class="form-control" placeholder="/images/60.png" ng-model="fxapp.appd.icons.60">
            </div>

            <div class="form-group" ng-show="ico32">
              <label for="32">Icon 32x32</label>
              <input type="text" class="form-control" placeholder="/images/32.png" ng-model="fxapp.appd.icons.32">
            </div>

            <div class="form-group" ng-show="ico90">
              <label for="90">Icon 90x90</label>
              <input type="text" class="form-control" placeholder="/images/90.png" ng-model="fxapp.appd.icons.90">
            </div>

            <div class="form-group" ng-show="ico120">
              <label for="120">Icon 120x120</label>
              <input type="text" class="form-control" placeholder="/images/120.png" ng-model="fxapp.appd.icons.120">
            </div>

            <div class="form-group" ng-show="ico256">
              <label for="256">Icon 256x256</label>
              <input type="text" class="form-control" placeholder="/images/256.png" ng-model="fxapp.appd.icons.256">
            </div>
          </div><!-- end: icon path wrap -->
        </accordion-group><!-- end: icons -->
        
        <!-- start: developer details -->
        <accordion-group is-open="status.AppDeveloper" class="panel-primary">
          <accordion-heading>
            Developer Details
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.AppDeveloper, 'glyphicon-chevron-right': !status.AppDeveloper}"></i>
          </accordion-heading>
          <div class="form-group">
            <label for="Developer">Developer Name</label>
            <input type="text" class="form-control" placeholder="Anam Ahmed" ng-model="fxapp.appd.developer">
          </div>
          <div class="form-group">
            <label for="Developer Url">Developer URL</label>
            <input type="text" class="form-control" placeholder="http://anam.co" ng-model="fxapp.appd.developerUrl">
          </div>
        </accordion-group><!-- end: developer details -->

        
        <accordion-group is-open="status.AppLocale" class="panel-primary">
          <accordion-heading>
            Default Locale
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.AppLocale, 'glyphicon-chevron-right': !status.AppLocale}"></i>
          </accordion-heading>
          <label for="Default Locale">Default Locale</label>
          <input type="text" class="form-control" placeholder="en" ng-model="fxapp.appd.defaultLocale">
        </accordion-group><!-- end: defult locale -->
      </accordion><!-- end: accordion -->
    </div><!-- end: col 6 -->

    <div class="col-md-6">
      <!-- start: your manifest file -->
      <div class="panel panel-primary">
        <div class="panel-heading">Your Manifest file</div>
        <div class="panel-body">
          <pre>
{
    "name": "{{fxapp.appd.appname}}",
    "description": "{{fxapp.appd.appDescription}}",
    "launch_path": "{{fxapp.appd.launchPath}}",
    "icons": {{fxapp.appd.icons | json}},
    "developer": {
        "name": "{{fxapp.appd.developer}}",
        "url": "{{fxapp.appd.developerUrl}}"
    },
    "default_locale": "{{fxapp.appd.defaultLocale}}"
}          </pre>
        <button class="btn btn-primary" ng-click="downloadManifest()" download="manifest.webapp"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Download</button>
        </div>  
      </div><!-- end: your manifest file -->
    </div><!-- end: col 6 -->
	</div><!-- end: row -->
</div>

<!-- javascript files -->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<!--script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script-->
<script type="text/javascript" src="app.js"></script>
</body>
</html>